---
import "../Styles/index.css";
import SubPagesRow from "../Components/SubPagesRow.astro";
---

<html lang="en">
    <head> </head>
    <body>
        <div id="content">
            <h1>/home/<strong>alecake</strong></h1>
            <div class="commandline"><p>&gt ls ~/subpages/</p></div>
            <SubPagesRow />
        </div>
    </body>
</html>
