---
import "../Styles/index.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cakey's home directory</title>
	</head>
	<body>
		<div id="content">
			<h1>/home/<strong>alecake</strong></h1>
			<div id="intro">
				<div class="commandline">
					<p>cat ~/intro.md</p>
				</div>
				<p>
					Howdy~ I'm <strong>Ale</strong>, lot's of people know me as cake though.
					I'm somewhat of a software developer, though i enjoy doing basically
					anything that is actually fun.
				</p>
				<hr>

				<div class="commandline">
					<p>cat ~/intropart2idk.md</p>
				</div>

				<span class="paragraphwpic">
					<p>
					If you are my friend you may already know, but I'm very much obsessed
					with open source crap, that's why this website is hosted on my git istance,
					and that's why i use linux, specifically, i'm using <a href="https://get.opensuse.org/tumbleweed/">opensuse tumbleweed</a>
					in this screenshot and i'd say that it is quite the nice distro overall, though i did have some issues with gnome and
					nautilus not working exactly <i>nicely</i> after an update.
					</p>
					<img src="/Assets/Homepage/desktop.png"> 
				</span>
				<p>
					As you might have noticed, dear reader, i <i>like</i> evangelion
					and with like, i mean that it's one of my favorite pieces of media ever.
				</p>
			</div>
		</div>
	</body>
</html>