---
import "../Styles/index.css";
import ContactsRow from "../Components/ContactRow.astro";
import FriendsRow from "../Components/FriendsRow.astro";
import ProjectsRow from "../Components/ProjectsRow.astro";
import IntroductionRow from "../Components/IntroductionRow.astro";
import PouikRow from "../Components/PouikRow.astro";
import BouichemeRow from "../Components/BouichemeRow.astro";
import CreditsRow from "../Components/CreditsRow.astro";
import GloopRow from "../Components/GloopRow.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Cankyre's square</title>
    </head>
    <body>
        <div id="content">
            <div class="mainheader" style="flex: 1;">
                <h1>/home/<strong>cankyre</strong></h1>
                <div class="rightheader">
                    <div class="Banner mb-4 shadow-md rounded gaymen"></div>
                    <img src="/Assets/pfp.png" />
                </div>
            </div>

            <ContactsRow />
            <!-- <SubPagesRow /> When there will be actual subpages -->
            <IntroductionRow />

            <!-- My games -->
            <GloopRow />
            <PouikRow />
            <BouichemeRow />

            <br />
            <hr />

            <!-- Important links -->
            <FriendsRow />
            <ProjectsRow />
            <CreditsRow />
        </div>
    </body>
</html>
