---
import "../Styles/index.css"
import ContactsRow from "../Components/ContactRow.astro"
import SubPagesRow from "../Components/SubPagesRow.astro"
import FriendsRow from "../Components/FriendsRow.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cakey's home directory</title>
	</head>
	<body>
		<div id="content">
			<h1>/home/<strong>alecake</strong></h1>
			<div class="commandline">
				<p> &gt ls ~/subpages/</p>
			</div>
			<SubPagesRow/>

			<div class="commandline">
				<p> &gt ls ~/contacts_and_socialmedia/</p>
			</div>
			<ContactsRow/>

			<div id="intro">
				<div class="commandline">
					<p> &gt cat ~/intro.md</p>
				</div>
				<p>
					Howdy~ I'm <strong>Ale</strong>, lot's of people know me as cake though.
					I'm somewhat of a software developer, though i enjoy doing basically
					anything that is actually fun and mostly relates to computers.
					<br>
					Other stuff to let you know me better, mh, i'm 19, and i live in italy 🍕, yeah, that's it, this is supposed to be a short intro!
				</p>
				<hr>
			</div>

				<div class="commandline">
					<p>&gt cat ~/intropart2idk.md</p>
				</div>

				<span class="paragraphwpic">
					<p>
					If you are my friend you may already know, but I'm very much obsessed
					with open source crap, that's why this website is hosted on my git istance,
					and that's why i use linux, specifically, i'm using <a href="https://get.opensuse.org/tumbleweed/">opensuse tumbleweed</a>
					in this screenshot and i'd say that it is quite the nice distro overall, though i did have some issues with gnome and
					nautilus not working exactly <i>nicely</i> after an update, with that i mean that some python extension for nautilus
					<i>really</i> did not want me to browse my files, but it was quickly fixed by searching for the solution online, in true linux fashion.
					</p>
					<img src="/Assets/Homepage/desktop.png"> 
				</span>

				<div class="commandline">
					<p>&gt cat ~/randomstuff/interests.md</p>
				</div>
				<span class="paragraphwpic">
					<p>
						My interests...well, i do enjoy a lot of things, my main ones focus on
						software, i like to learn new technologies, even if it takes me a while. 
						And, as you might have noticed, dear reader, my wallpaper is from an anime, evangelion, and i <i>really like</i> evangelion
						and with like, i mean that it's one of my favorite pieces of media ever, the third impact just resonates with me so much, both
						in the anime ending, and the movie.
					</p>
					<img class="small" src="/Assets/Homepage/thirdimpact.png">

				</span>

				<p>
					Other than that, i do enjoy coding, making websites, writing css, drawing, making pixel art, trying new technologies...
					i have quite a lot of interests, that i am not going to write here, for now.
				</p>

				<div class="commandline">
					<p>&gt cat ~/randomstuff/homeserver.md</p>
				</div>
				<p>
					OH yeah! one big hobby of mine is to basically, fuck up my old laptop...yeah...it's my main server
					and yeah, it's underpowered, that's why i rented a couple cheap VPS from Hetzner, and they do the job
					quite nicely, my laptop is now used only for my <a href="https://nextcloud.com/">Nextcloud</a>, <a href="https://www.navidrome.org/">Navidrome</a>, <a href="https://freshrss.org/">FreshRSS</a>
					, ForgeJo istance and my <a href="https://app.revolt.chat/bot/01FEED7J1V5STJ6QETZAKR8SVA">Revolt bot</a>.<br>
					While my VPS hosts a <a href="https://cinny.ale.pet/">Matrix dendrite istance</a> and a <a href="https://catgirl.pub/">Lemmy istance</a>.<br>
					It has been quite the learning experience for me, haha, i have to thank a <a href="https://me.lea.pet/">friend</a> of mine for teaching me how to use Docker, as i had been too stubborn
					to use it at first.
				</p>
				<div class="commandline">
					<p>&gt ls ~/important_stuff/confession/</p>
				</div>
				<p>
					Fuck it, if you are reading this and you are a friend of mine, especially irl ones, take this as a way of me coming out, i am trans, i'm a transfem,
					and i've known for a fucking decade, so i'm pretty tired of keeping myself in the closet
				</p>
				
				<div class="commandline">
					<p>&gt ls ~/important_stuff/friends/</p>
				</div>
				<FriendsRow/>
			</div>
		</div>
	</body>
</html>