@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  padding-top: 1vh;
  padding-bottom: 2vh;
  text-align: center;
}

.pfp {
  width: 10vw;
  border-radius: 100%;
}

.goto {
  width: 40vw;
  height: 5vh;
  margin-left: 50%;
  margin-top: 2%;
  transform: translate(-50%, 0);
}

.goto > .column {
  padding: 0;
}

.goto-sign {
  background-color: #fde0e6;
  color: #d60f35;
  font-size: 2vh;
  font-family: "Fira Code";
  font-weight: 600;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goto-input {
  width: 100%;
  height: 100%;
  border-left: none;
  font-size: 2vh;
  font-family: "Fira Code";
  font-weight: 400;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.helpbtn {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1vw;
  width: 60vw;
  height: 45vw;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.card {
  border: 2px rgb(236, 236, 236) solid;
  text-align: justify;
  padding: 0.8em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 200ms;
  min-height: 14vw;
  max-height: 14vw;
}

.card:hover {
  border: 2px black solid;
}

.card > p {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding-right: 10px;
  overflow-y: auto;
}

.title-box {
  display: flex;
  justify-content: space-between;
}

.title-box > img {
  width: 3em;
  height: 3em;
  border-radius: 15%;
}

#card1 {
  grid-column: 1;
  grid-row: 1;
}
#card2 {
  grid-column: 2 / 4;
  grid-row: 1;
}
#card3 {
  grid-column: 1 / 3;
  grid-row: 2;
}
#card4 {
  grid-column: 3;
  grid-row: 2;
}
#card5 {
  grid-column: 1;
  grid-row: 3;
}
#card6 {
  grid-column: 2;
  grid-row: 3;
}
#card {
  grid-column: 3;
  grid-row: 3;
}

.blink {
  margin-top: auto;
  margin-bottom: 0.8em;
}

.blink.is-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blink.is-container > button {
  width: max-content;
}

.blink.is-container > button > span {
  font-family: "dripicons-v2";
}

button.blink > span {
  font-family: "dripicons-v2";
}

@media screen and (max-width: 1400px) {
  .cards-grid {
    width: 81vw;
    height: 54vw;
  }
  .card {
    min-height: 26vw;
    max-height: 26vw;
  }
}

@media screen and (max-width: 1025px) {
  .card {
    min-height: 40vh;
  }

  .cards-grid {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 2vh;
  }
  .blink {
    width: 60%;
    margin-top: 0.8em;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 770px) {
  .blink.is-container {
    justify-content: space-around;
  }

  .goto {
    width: 80vw;
    height: 15vh;
    margin-left: 50%;
    margin-top: 2%;
    transform: translate(-50%, 0);
  }
  .goto-input {
    width: 100%;
    height: 5vh;
    border-left: none;
    font-size: 2vh;
    font-family: "Fira Code";
    font-weight: 400;
    border-radius: 10px;
    margin-top: 2vh;
  }
  .goto-sign {
    width: 20%;
    height: 4vh;
    background-color: #fde0e6;
    color: #d60f35;
    font-size: 2vh;
    font-family: "Fira Code";
    font-weight: 600;
    border-radius: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: flex;
  }
  .pfp {
    width: 30vw;
    border-radius: 100%;
  }

  .helpbtn {
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 3vh;
    font-size: 2vh;
  }
}
