---

---

<div class="commandline">
    <p>&gt cat ~/mygames/bouicheme.md</p>
</div>
<span class="paragraphwpic">
    <img src="/Assets/Homepage/bouicheme.png" style="width: 200px;" />
    <div class="gamedownload">
        <p>
            <strong>Bouicheme</strong> is a game I made for the a <a
                href="https://www.nuitducode.net/">french game jam</a
            > with
            <strong>Avlis</strong> and <strong>Jegvet</strong>. In this runner,
            you need to build and destroy blocks to get to the key.
        </p>
        <a class="wget" href="https://cankyre.itch.io/bouicheme"
            >&gt wget ~/mygames/bouicheme.zip
        </a>
    </div>
</span>
