---

---

<div>
    <span><a href="https://matrix.to/#/@chococake:ale.pet">Matrix/</a></span>
    <span><a href="https://app.revolt.chat/">Revolt/</a></span>
    <span><a href="https://lea.pet/@StrawberryCreamCake">Fediverse/</a></span>
    <span><a href="https://catgirl.pub/u/SubWoofer">Threadiverse/</a></span>
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>