---
---

<div>
    <span><a href="https://cankyre.itch.io/">Itch.io/</a></span>
    <span><a href="mailto:me@cankyre.eu">E-mail/</a></span>
    <span><a href="https://discord.gg/hAB2STPMSX">Discord/</a></span>
    <span><a href="https://github.com/Cankyre">GitHub/</a></span>
    <span><a href="https://x.com/@Cankyre">Twitter/</a></span>
    <span><a href="https://piaille.fr/@cankyre">Fediverse/</a></span>
    <br />
    <span><a href="https://chess.com/member/cankyre">Chess.com/</a></span>
    <span><a href="https://lichess.org/@/Cankyre">Lichess/</a></span>
    <span><a href="https://steamcommunity.com/id/cankyre">Steam/</a></span>
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>
