---

---

<div>
    <span><a href="https://matrix.to/#/@cake:cakey.me">Matrix/</a></span>
    <span><a href="https:///subwoofer@gts.gockandgum.party">Fediverse/</a></span>
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>
