---

---

<div class="commandline">
    <p>&gt cat ~/important_stuff/credits.md</p>
</div>
<p>
    This website is dedicated to those who perished on the climb. It was forked
    from <a href="https://cakey.me">Cakey's Website</a>. Thanks a lot to her.
</p>
