---

---

<div>
  <span><a href="https://matthil.de/">Mat/</a></span>
  <span><a href="https://dd86k.space/">DD/</a></span>
  <span><a href="https://kiyoshi.games/">Kiyo/</a></span>
  <span><a href="https://github.com/PricedOx">Wiki/</a></span>
  <span><a href="https://gock.mom">Nao/</a></span> 
  <span><a href="https://arci.me">Augocka/</a></span>  
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>
