---

---

<div>
    <span>
        <a href="https://https://soundcloud.com/fabetsol/">Fabetsol/</a>
    </span>
    <span><a href="https://www.youtube.com/@Ludenbergy">Luden/</a></span>
    <span><a href="https://www.youtube.com/@Billibix">Billibix/</a></span>
    <span><a href="https://cakey.me/">Cakey/</a></span>
    <span><a href="https://www.youtube.com/@underray3863">Underray/</a></span>
    <br />
    <p>To all my dear friends, thank you for being there for me. &#9829;</p>
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>
