<div class="commandline">
    <p>&gt cat ~/mygames/jerry_and_the_gloop_factory.md</p>
</div>
<span class="paragraphwpic">
    <img src="/Assets/Homepage/gloop.png" style="width: 250px;" />
    <div class="gamedownload">
        <p>
            <strong>Jerry & the Gloop&trade; Factory</strong> is <strong
                >Agglo</strong
            >'s newest project. Here is the first concept art I made for it.
            This game will be a collection of <i>goofy</i>, <i>humorous</i>, yet <i
                >dark</i
            >
            <i>minigames</i> that will tell the story of the <strong
                >Gloop&trade; Factory</strong
            >.
        </p>
        <a class="wget" href="https://cankyre.itch.io/bouicheme"
            >&gt curl agglo_discord
        </a>
    </div>
</span>
