---

---

<div class="commandline">
    <p>&gt cat ~/mygames/pouik.md</p>
</div>

<span class="paragraphwpic">
    <div class="gamedownload">
        <p>
            <strong>Pouik</strong> is the first game I ever decided to release. I
            care about it deeply. For personal reasons, I had to stop its development
            and couldn't go through with the plans I had for it. I kept it in the
            dark for a while, but I finally decided to make a final build and release
            it in an <i>as is</i> state.
            <br />
            <br />
            <strong>Pouik</strong> is a game about <strong>Jerry</strong>. <strong
                >Jerry</strong
            > has no legs. <strong>Jerry</strong> hops around. It is an arcade, grid-based
            game filled to the brim with spikes, lasers, dubious pills, and more.
            So many things are happening in <strong>Jerry</strong>'s world. It
            is on the edge between a <i>thinking game</i> and an <i
                >arcade game</i
            > while remaining as pleasing to play as possible.
        </p>
        <a class="wget" href="https://cankyre.itch.io/pouik"
            >&gt wget ~/mygames/pouik.zip
        </a>
    </div>
    <img
        src="https://img.itch.zone/aW1hZ2UvMjEzMjcxMy8xMjU2ODUwMy5qcGVn/347x500/4fo2%2FD.jpeg"
        style="width: 200px;"
    />
</span>
