---
---

<div>
    <p>Here are some open-source projects that I love!</p>
    <span>
        <a href="https://https://encroissant.org/">En_Croissant/</a>
    </span>
    <span><a href="https://godotengine.org/">Godot/</a></span>
    <span><a href="https://www.raylib.com/">Raylib/</a></span>
    <span><a href="https://www.videolan.org/vlc/">VLC_Media_Player/</a></span>
    <br />
</div>

<style>
    span {
        padding: 2px;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: #ffb86c;
    }
</style>
