---

---

<div class="commandline">
    <p>&gt cat ~/mygames/station19.md</p>
</div>

<span class="paragraphwpic">
    <div class="gamedownload">
        <span class="paragraphwpic">
            <p>
                You don't remember <i>anything</i>. You wake up, stuck in a
                space station in lock&#8209;down mode. You try to read the
                manual, but it's unclear. Discover what happened to your crew
                and escape. Introducing <strong>Station 19</strong>, a
                intricated puzzle game with a deep and emotional story where you
                need to understand the inner workings of the complicated
                station's mainframe computer in order to make the rest of your
                life <em>plausible</em>.
            </p>
            <img
                src="/Assets/Homepage/agglo.png"
                alt="Agglo's logo"
                style="width: 130px; height: 130px; border-radius: 50%;"
            />
        </span>
        <p>
            Follow and contribute to <strong>Station 19</strong>'s development
            using the links below. I am sure you won't regret it. Also, I might
            make some artistic minigames while procrastinating. You'll for sure
            find them there.
        </p>
        <div class="gamelinks">
            <a class="wget" href="https://discord.gg/hAB2STPMSX"
                >&gt curl agglo_discord
            </a>
            <a class="wget" href="https://x.com/@agglogames"
                >&gt curl agglo_twitter
            </a>
        </div>
    </div>
</span>
