---
---

<div>
	<span><a href="/">Home/</a></span>
	<span
		><a href="https://forge.cakey.me/Cake/Personal_website">GitRepo/</a></span
	>
</div>

<style>
	span {
		padding: 2px;
		padding-right: 5px;
	}
	a {
		text-decoration: none;
		color: #ffb86c;
	}
</style>
