@font-face {
    font-family: 'victor mono';
    src: url("/Assets/VictorMono-Regular.ttf");
}

body{
    background-color: #282a36;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
#content {
    border-left: #44475a solid;
    border-right: #44475a solid;
    border-width: 1px;
    max-width: 950px;
    font-family: 'victor mono';
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    flex-grow: 1;
}

#content h1 {
    color: #ff79c6;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#content h1 strong{
    color: #bd93f9
}


#content p {
    color: #f8f8f2
}

#content p strong {
    color: #bd93f9
}

#content p i {
    color: #8be9fd
}

#content p a {
    color: #ffb86c;
    font-style: normal;
    text-decoration:none
}

#content .paragraphwpic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content .paragraphwpic p {
    width: 30%;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;

}

#content .paragraphwpic img, .small {
    max-width: 500px;
    width: 90%;
    height: 90%;
    margin-top: 5px;
    border: #44475a solid;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#content .paragraphwpic .small {
    width: 40%;
    height: 40%;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #44475a;
    margin: 0 0; padding: 0;
}

.commandline{
    background-color: #44475a;
    padding-left: 5px;
    padding-right: 5px;
}
.commandline >*{
    color : #8be9fd!important
}

table {
    border-collapse: collapse;
    color : #ffb86c;
}

th, td {
    border-bottom: 1px dashed #ffb86c;
    border-left: 1px solid #ffb86c;
    border-right: 1px solid #ffb86c;
    padding: 5px;
}