@font-face {
    font-family: "victor mono";
    src: url("/Assets/VictorMono-Regular.ttf");
}

:root {
    --background-color: #1e1e2e;
    --border-color: #363a4f;
    --primary-color: #f5bde6;
    --secondary-color: #c6a0f6;
    --text-color: #cad3f5;
    --link-color: #f5a97f;
    --highlight-color: #8aadf4;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#content {
    border-left: var(--border-color) solid;
    border-right: var(--border-color) solid;
    border-width: 1px;
    max-width: 950px;
    font-family: "Fira Code", "victor mono";
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 10px;
    flex-grow: 1;
}

#content h1 {
    color: var(--primary-color);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content .mainheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#content .mainheader .rightheader img {
    margin-top: auto;
    border: var(--border-color) solid;
    border-radius: 50%;
    width: 100px;
}

#content .mainheader .rightheader {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    gap: 2em;
    align-items: center;
    height: 100%;
}

#content .mainheader .rightheader .Banner {
    content: "";
    width: 75px;
    height: 50px;
    display: block;
    border-radius: 10px;
}

#content .mainheader .gaymen {
    --gaymen-darkgreen: #007c6b;
    --gaymen-palegreen: #40a4a5;
    --gaymen-litegreen: #59c8d2;
    --gaymen-center: #f0efff;
    --gaymen-liteblue: #7aade0;
    --gaymen-paleblue: #0b83c9;
    --gaymen-darkblue: #04336f;
    background-image: linear-gradient(
        var(--gaymen-darkgreen) 0%,
        var(--gaymen-darkgreen) 14.28%,
        var(--gaymen-palegreen) 14.28%,
        var(--gaymen-palegreen) 28.58%,
        var(--gaymen-litegreen) 28.58%,
        var(--gaymen-litegreen) 42.87%,
        var(--gaymen-center) 42.87%,
        var(--gaymen-center) 57.16%,
        var(--gaymen-liteblue) 57.16%,
        var(--gaymen-liteblue) 71.45%,
        var(--gaymen-paleblue) 71.45%,
        var(--gaymen-paleblue) 85.74%,
        var(--gaymen-darkblue) 85.74%,
        var(--gaymen-darkblue) 100%
    );
}

#content h1 strong {
    color: var(--secondary-color);
}

#content p {
    color: var(--text-color);
}

strong {
    color: var(--secondary-color);
}

i {
    color: var(--highlight-color);
}

#content a {
    color: var(--link-color);
    font-style: normal;
    text-decoration: none;
}

#content a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

#content .paragraphwpic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content .paragraphwpic > p {
    width: 30%;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}

#content .paragraphwpic .gamedownload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
}

#content .paragraphwpic .gamedownload .gamelinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#content .paragraphwpic .gamedownload .wget {
    display: block;
    text-align: center;
}

#content .paragraphwpic img,
.small {
    max-width: 500px;
    width: 90%;
    height: 90%;
    margin-top: 5px;
    border: var(--border-color) solid;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#content .paragraphwpic .small {
    width: 40%;
    height: 40%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 0 0;
    padding: 0;
}

.commandline {
    background-color: var(--border-color);
    padding-left: 5px;
    padding-right: 5px;
}
.commandline > * {
    color: var(--highlight-color) !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: var(--link-color);
}

th,
td {
    border-bottom: 1px dashed var(--link-color);
    border-left: 1px solid var(--link-color);
    border-right: 1px solid var(--link-color);
    padding: 5px;
}

.parrots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
