@font-face {
    font-family: "victor mono";
    src: url("/Assets/VictorMono-Regular.ttf");
}

:root {
    --background-color: #282a36;
    --border-color: #44475a;
    --primary-color: #ff79c6;
    --secondary-color: #bd93f9;
    --text-color: #f8f8f2;
    --link-color: #ffb86c;
    --highlight-color: #8be9fd;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#content {
    border-left: var(--border-color) solid;
    border-right: var(--border-color) solid;
    border-width: 1px;
    max-width: 950px;
    font-family: "victor mono";
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    flex-grow: 1;
}

#content h1 {
    color: var(--primary-color);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content .mainheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#content .mainheader img {
    margin-top: auto;
    border: var(--border-color) solid;
    border-radius: 50%;
    width: 10%;
}

#content h1 strong {
    color: var(--secondary-color);
}

#content p {
    color: var(--text-color);
}

strong {
    color: var(--secondary-color);
}

i {
    color: var(--highlight-color);
}

#content a {
    color: var(--link-color);
    font-style: normal;
    text-decoration: none;
}

#content a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

#content .paragraphwpic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content .paragraphwpic p {
    width: 30%;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}

#content .paragraphwpic img,
.small {
    max-width: 500px;
    width: 90%;
    height: 90%;
    margin-top: 5px;
    border: var(--border-color) solid;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#content .paragraphwpic .small {
    width: 40%;
    height: 40%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 0 0;
    padding: 0;
}

.commandline {
    background-color: var(--border-color);
    padding-left: 5px;
    padding-right: 5px;
}
.commandline > * {
    color: var(--highlight-color) !important;
}

table {
    border-collapse: collapse;
    color: var(--link-color);
}

th,
td {
    border-bottom: 1px dashed var(--link-color);
    border-left: 1px solid var(--link-color);
    border-right: 1px solid var(--link-color);
    padding: 5px;
}
